<table id="t1" align="center" width="100%" border=2>
    <tr id="hd">
        <td rowspan="2" width="10%">DAY BOOK</td>
        <td colspan="4">Date</td>
        <td rowspan="2" width="16%"><input id="sub" name="btnShow" type="submit" value="SHOW"></td>
    </tr>
    <tr id="hd">
        <td width="37%" colspan="2">from &nbsp;<input id="datee" type="date" required></td>
        <td width="30%" colspan="2">to &nbsp;<input id="datee" type="date" required></td>
    </tr>
    <tr id="hd">
        <td>S.No.</td>
        <td> Account Name</td>
        <td width="14%">Date</td>
        <td width="13%">Amount<br>( in &#8377; )</td>
        <td>Pay/Recieve by</td>
        <td>Remark</td>
    </tr>
    <tr>
        <td colspan="6" id="hd2" align="center">EXPENSES</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Electricity Bill</td>
        <td>03-29-2020</td>
        <td>500</td>
        <td>Cash</td>
        <td>Bill</td>
    </tr>
    <tr>
        <td colspan="6" id="hd2" align="center">INCOME</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Consultancy Revenue</td>
        <td>03-29-2020</td>
        <td>10000</td>
        <td>Cash</td>
        <td>CR</td>
    </tr>
</table>