<div class="total">
    <h1>DAY BOOK</h1>
    <div class="find">
        <form #cbook="ngForm" (ngSubmit)="show(cbook.form)">
            <div class="control">
                <div>
                    <div class="form-group">
                        <label>From</label><input type="text" placeholder="dd-mm-yyyy" bsDatepicker [bsConfig]="config" autocomplete=off name="fdt" class="form-control datep" required
                            [class.notvalid]="fdt.invalid && fdt.touched" #fdt="ngModel" [(ngModel)]="s">
                    </div>
                    <div class="form-group">
                        <label>To</label><input type="text" placeholder="dd-mm-yyyy" bsDatepicker [bsConfig]="config" autocomplete=off name="tdt" class="form-control datep" required
                            [class.notvalid]="tdt.invalid && tdt.touched" #tdt="ngModel" [(ngModel)]="e">
                    </div>
                </div>
                <div>
                    <input type="submit" value="Show" class="sub" [hidden]="cbook.invalid">
                </div>
            </div>
        </form>
    </div>
    <div class="nocat row" *ngIf="result_fetched && !(anyexp || anyinc) && !nloaded">
        <img src="../../assets/norecords.svg" class="col-lg-6 col-xl-6 col-md-12 col-sm-12" style="margin-top: 30px; width: 250px; height: 150px;" alt="" srcset="">
        <div class="headin col-lg-6 col-xl-6 col-md-12 col-sm-12">
            <h3>No records found</h3>
            <h5>between the date-range you mentioned</h5>
        </div>
    </div>
    <div class="nocat notloaded" *ngIf="nloaded">
        <i class="fas fa-circle-notch"></i>
    </div>
    <div class="result" *ngIf="result_fetched && (anyexp || anyinc) && !nloaded">
        <div class="expenses">
            <div class="nocat notadded row" *ngIf="!anyexp">
                <h2 class="col-lg-4 col-xl-4 col-sm-12 col-md-12">No Expenses Added yet!</h2>
                <button class="sub col-lg-4 col-xl-4 col-sm-12 col-md-12" style=" width: fit-content; margin-left: 20px;"><a href="/dashboard/expenses">Add one</a></button>
            </div>
            <table class="cat-table" align="center" width="90%" *ngIf="anyexp">
                <thead>
                    <tr>
                        <th class="tablehead" colspan=6>EXPENSES</th>
                    </tr>
                    <tr>
                        <th class="d-none d-lg-block d-xl-block" style="width: 100%; height: 80px; padding-top: 30px;" width="10%">S.No.</th>
                        <th width="25%">Account Name</th>
                        <th width="20%">Date</th>
                        <th width="15%">Amount<br>( in &#8377; )</th>
                        <th width="10%">Pay / Recieve by</th>
                        <th width="20%">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of exp | paginate: { id: 'epag', 
                    itemsPerPage : items,
                    currentPage : epage,
                    totalItems : totalExp}">
                        <td class="d-none d-lg-block d-xl-block">{{exp.indexOf(e) + 1}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.date}}</td>
                        <td>{{e.amount}}</td>
                        <td>{{e.payby}}</td>
                        <td>{{e.remark}}</td>
                    </tr>
                    <tr *ngIf="totalExp > items">
                        <td colspan="6">
                            <div class="pag">
                                <pagination-controls id="epag" maxSize="5" directionLinks="true"
                                    (pageChange)="epage = $event"></pagination-controls>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="navigation">
                <div class="inc">
                    <button (click)="toggles('i')"><h1>Incomes</h1><i class="fad fa-angle-right"></i></button>
                </div>
            </div>
        </div>
        <div class="incomes">
            <div class="nocat notadded" *ngIf="!anyinc">
                <h2 class="col-sm-12 col-md-12 col-lg-6 col-xl-6">No incomes Added yet!</h2>
                <button class="sub col-sm-12 col-md-12 col-lg-6 col-xl-6" style=" width: fit-content; margin-left: 20px;"><a href="/dashboard/income">Add one</a></button>
            </div>
            <table class="cat-table" align="center" width="90%" *ngIf="anyinc">
                <thead>
                    <tr>
                        <th class="tablehead" colspan=6>INCOMES</th>
                    </tr>
                    <tr>
                        <th class="d-none d-lg-block d-xl-block" style="width: 100%; height: 80px; padding-top: 30px;" width="10%">S.No.</th>
                        <th width="25%">Account Name</th>
                        <th width="20%">Date</th>
                        <th width="15%">Amount<br>( in &#8377; )</th>
                        <th width="10%">Pay / Recieve by</th>
                        <th width="20%">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of inc | paginate: { id: 'ipag', 
                    itemsPerPage : items,
                    currentPage : ipage,
                    totalItems : totalInc}">
                        <td class="d-none d-lg-block d-xl-block">{{inc.indexOf(e) + 1}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.date}}</td>
                        <td>{{e.amount}}</td>
                        <td>{{e.recieveby}}</td>
                        <td>{{e.remark}}</td>
                    </tr>
                    <tr *ngIf="totalInc > items">
                        <td colspan="6">
                            <div class="pag">
                                <pagination-controls id="ipag" maxSize="5" directionLinks="true"
                                    (pageChange)="ipage = $event"></pagination-controls>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="navigation">
                <div class="exp">
                    <button (click)="toggles('e')"><i class="fad fa-angle-left"></i><h1>Expenses</h1></button>
                </div>
            </div>
        </div>
    </div>
</div>