<div class="total">
    <h1>BANK BOOK</h1>
    <div class="find">
        <form #bbook="ngForm" (ngSubmit)="show(bbook.form)">
            <div class="control">
                <div>
                    <div class="form-group">
                        <label>From</label><input type="text" placeholder="dd-mm-yyyy" bsDatepicker [bsConfig]="config" autocomplete=off name="fdt" class="form-control datep" required
                            [class.notvalid]="fdt.invalid && fdt.touched" #fdt="ngModel" [(ngModel)]="s">
                    </div>
                    <div class="form-group">
                        <label>To</label><input type="text" placeholder="dd-mm-yyyy" bsDatepicker [bsConfig]="config" autocomplete=off name="tdt" class="form-control datep" required
                            [class.notvalid]="tdt.invalid && tdt.touched" #tdt="ngModel" [(ngModel)]="e">
                    </div>
                </div>
                <div>
                    <input type="submit" value="Show" class="sub" [hidden]="bbook.invalid">
                </div>
            </div>
        </form>
    </div>
    <div class="nocat row" *ngIf="result_fetched && !anyrec && !nloaded">
        <img src="../../assets/norecords.svg" class="col-lg-6 col-xl-6 col-md-12 col-sm-12" style="margin-top: 30px; width: 250px; height: 150px;" alt="" srcset="">
        <div class="headin col-lg-6 col-xl-6 col-md-12 col-sm-12">
            <h3>No records found</h3>
            <h5>between the date-range you mentioned</h5>
        </div>
    </div>
    <div class="nocat notloaded" *ngIf="nloaded">
        <i class="fas fa-circle-notch"></i>
    </div>
    <div class="result" *ngIf="result_fetched && anyrec && !nloaded">
        <table class="cat-table" id="cash-book" align="center" width="90%">
            <thead>
                <tr>
                    <th id="th" width="10%">S.No.</th>
                    <th width="45%">Date</th>
                    <th width="20%">Amount<br>( in &#8377; )</th>
                    <th width="20%">Pay / Recieve</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of result | paginate: { id: 'pagination', 
                itemsPerPage : items,
                currentPage : page,
                totalItems : totalRecords}">
                    <td>{{result.indexOf(x) + 1}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.amount}}</td>
                    <td>{{x.mode}}</td>
                </tr>
                <tr *ngIf="totalRecords > items">
                    <td colspan="4">
                        <div class="pag">
                            <pagination-controls id="pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cbal">
            Closing Balance : {{bal}}
        </div>
    </div>
</div>