<table id="t1" align="center" width="100%" border=2>
    <tr id="hd">
        <td rowspan="2" width="10%">CASH BOOK</td>
        <td colspan="2">Date</td>
        <td rowspan="2" width="16%"><input id="sub" name="btnShow" type="submit" value="SHOW"></td>
    </tr>
    <tr id="hd">
        <td width="37%">from &nbsp;<input id="datee" type="date" required></td>
        <td width="32%">to &nbsp;<input id="datee" type="date" required></td>
    </tr>
    <tr id="hd">
        <td>S.No.</td>
        <td>Date</td>
        <td>Amount<br>( in &#8377; )</td>
        <td>Pay/Recieve</td>
    </tr>
    <tr>
        <td>1</td>
        <td>06-07-2020</td>
        <td>567</td>
        <td>Pay</td>
    </tr>
</table>
<div class="cbal">
    Closing Balance : {{bal}}
</div>
