<div class='total'>
<table class="main" align="center" style="border-radius: 50px;">
    <th>
        Income Category
    </th>
    <tr>
        <td align="center">
            <form #icat="ngForm">
                <div class="form-group" style="margin-top: 20px;">
                    <input placeholder="Category Name" required #cname="ngModel" ngModel [class.notvalid]="cname.invalid && cname.touched" type="text" name="cname" autocomplete="off" class="form-control">
                    <small class="text-danger" [class.d-none]="cname.valid || cname.untouched">Category name is required</small>
                </div>
                <div class="form-group">
                    <textarea placeholder="Category Details" required #cdet="ngModel" ngModel [class.notvalid]="cdet.invalid && cdet.touched" name="cdetails" class="form-control"></textarea>
                    <small class="text-danger" [class.d-none]="cdet.valid || cdet.untouched">Category details is required</small>
                </div>
                <input type="submit" value="SUBMIT" class="sub">
            </form>
        </td>
    </tr>
</table>

</div>
