<div class="page">
    <div class="content">
        <h1 class="row"><span class="col-*-12 col-lg-6 col-xl-6">WELCOME</span> <span class="col-*-12 col-lg-6 col-xl-6">{{name}}</span></h1>
    </div>
    <div class="qlinks">
        <h2>Quick links</h2>
        <div class="area">
            <div class="part">
                <h3>Transactions<br>
                    <a href="expenses" routerLink="/dashboard/expenses">Expenses</a>
                    <a href="incomes" routerLink="/dashboard/income">Incomes</a>
                </h3>
            </div>
            <div class="part" style="width: 350px;">
                <h3 style="width: 260px;">Categories<br>
                    <a href="expense-cat" routerLink="/dashboard/expenses-cat">Expense Category</a>
                    <a href="income-cat" routerLink="/dashboard/income-cat">Income Category</a>
                </h3>
            </div>
            <div class="part" style="height: 180px;">
                <h3 style="margin: 0;">Others<br>
                    <a href="cash-book" routerLink="/dashboard/cash-book" style="margin: 5px">Cash Book</a>
                    <a href="bank-book" routerLink="/dashboard/bank-book" style="margin: 5px">Bank Book</a>
                    <a href="day-book" routerLink="/dashboard/day-book" style="margin: 5px">Day Book</a>
                    <a href="bal-sheet" routerLink="/dashboard/bal-sheet" style="margin: 5px">Balance Sheet</a>
                </h3>
            </div>
        </div>
    </div>
</div>

